.venv*/
examples/.env
examples/.env.prod*
examples/.env.test*
examples/.env.staging*
config*.toml
.vscode/
.idea
__pycache__/

# Experimental code used to exercise the trader's API
post_rest_req.py
rest_api.ipynb
